body {
    margin: 0;
}

#header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(197 197 197);
}

.header h1 {
    color: rgb(0, 255, 195);
}

#mainDiv {
    display: flex;
    background-color: rgb(236, 236, 236);
    min-height: 800px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 195);
    width: 150px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}