body {
    margin: 0;
}

#header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(197 197 197);
}

.header h1 {
    color: rgb(0, 255, 195);
}

#mainDiv {
    display: flex;
    background-color: rgb(236, 236, 236);
    min-height: 800px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 195);
    width: 150px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    min-height: 100px;
    max-height: 200px;
    border: 2px solid rgb(158, 158, 158);
}


/*area to view all projects*/
#viewerDiv {
    background-color: white;
    height: 800px;
    width: 800px;
    min-width: 300px;
    margin: 10px;
    border-radius: 20px;
    margin: auto;
}


/*New project popup with input*/
#projPopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: red;
    padding: 10px;
    justify-content: space-evenly;
}

#confirmBtn {
    text-align: center;
}



/*Project cards viewed in main viewer*/
.projCard {
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/*Project detail popup*/
#projDetailPopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    padding: 20px;
    justify-content: space-between;
}

#detailHeader {
    display: flex;
    justify-content: space-between;
}

#detailTaskViewer {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    height: 250px;
    background-color: white;
    align-self: center;
    overflow: scroll;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
}

#detailFooter {
    display: flex;
    justify-content: space-between;
}

#newTaskInput {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

#newTaskBtns {
    display: flex;
    align-items: center;
}

.newTaskBtn {
    width: 30px;
    display: flex;
    justify-content: center;
}